a.active {
  background-color: #2563eb;
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.1rem 0.3rem;
  border-radius: 13px;
  box-shadow: 0 1px 6px rgba(37, 99, 235, 0.15);
  transition: all 0.2s ease;
}

a.active:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px rgba(37, 99, 235, 0.25);
}

body.light {
  background-color: white;
  color: rgb(0, 0, 0);
}

body.dark {
  background-color: #080b1d;
  color: white;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
  margin-right: 12px;
  /* padding-right: 6px; */
}
